@media all{
  *{
    padding: 0%;
    margin: 0%;
   box-sizing: border-box;
    justify-content: center;
  }
}
@media screen and (min-width:320px) and (max-width:425px){
header{font-size: 20px;
  display:block;
}

.first_born{
  justify-content: center;
}
.another_born{
  display: grid;
  grid-template-columns: repeat(1, 320px);
justify-content: center;
margin: 0%;
padding: 0%;
}
.index{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: auto;
  float: left;
  margin: 0%;
}
.annoying,
.second_grandchild
{
  display: grid;
  grid-template-columns: repeat(1, 320px);
  padding: 0%;
  box-sizing: border-box;
}
.manycam{
  display: grid;
  grid-template-columns: repeat(1, 320px);
  justify-content: center;
  width: auto;

}
.manycam .u{
  width: 100%;
padding: 0%;
margin: 0%;

}
.manycam .t{
  width: auto;
}
}
@media screen and (min-width:768px) {

}
@media screen and (min-width: 1025px) {

}
