@media all{
  *{
    border: none;
    padding: 0%;
    margin: 0%;
   box-sizing: border-box;
    justify-content: center;
    white-space: wrap;
    width: inherit;
  }
}
@media screen and (min-width:320px) and (max-width:425px){
.i, .n{
  visibility: hidden;
}
/*header*/
  header .first_nav .nex{
  font-size: 20px;
  display: flex;
  flex-direction: column;
  font-size: small;
  padding: auto;
}

.locat1 ul{
  justify-content: start;
  box-sizing: border-box;
  size: 3rem;
}

.first_born{
  justify-content: center;
}
.another_born{
  display: grid;
  grid-template-columns: repeat(1, auto);
justify-content: center;
margin: 0%;
padding: 0%;
}
/*second section*/

.annoying
{
  display: grid;
  grid-template-columns: repeat(1, auto);
  padding: 0%;
  box-sizing: border-box;
}
.index{
  display: flex;
  flex-direction: column;
}
/*Third section*/
.manycam{
  display: grid;
  grid-template-columns: repeat(1, auto);
  justify-content: center;
  width: auto;

}
.manycam .u{
  width: 100%;
padding: 0%;
margin: 0%;

}
.manycam .t{
  width: auto;
}
/*latest section*/
.last__section .heading {
  display: flex; 
  flex-direction: column;
  padding: 0%;
  margin: 0%;
}
.last__section .lastly
{   display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    width: auto;
}
/*footer*/
footer .alec{
width: auto;
white-space: nowrap;
margin: 0%;

}
.foot_talk ul {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  font-size: small;
  bottom: 0%;
  left: 0%;
 
 
}
.footer_last{
  visibility: hidden;
}
}
@media screen and (min-width:426px) and (max-width:768px) {
/*header*/
header .first_nav .nex{
  font-size: auto;
  display: flex;
  flex-direction: column;
  font-size: small;
  padding: auto;
}

.locat1 ul{
  justify-content: start;
  box-sizing: border-box;
  size: 4rem;
}

.first_born{
  justify-content: center;
}
.another_born{
  display: grid;
  grid-template-columns: repeat(1, auto);
justify-content: center;
margin: auto;
padding: 0%;
}
}
@media screen and (min-width: 1025px) {


}
