@media screen and (min-width:341px) and (max-width: 768px){
  /*header*/
  .site__header-max-screen {
    display: none;
  }
  
  /**/
  /**/
  /*latest_news angle*/
  .latest_wrap{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  }
  .body_of_latest_news{
    padding: 0%;
  }

  /*latest_funding*/
  .latest_funding{
    padding: 10px;
    
  }
  .side_nav_bar_of_funding a{
    color:red;
    text-decoration: none;
    padding-left: 15px;
  }
  .side_nav_bar_of_funding a:hover{
    color:black;
    text-decoration: underline;
    flex-wrap: wrap;
  }
  .funding_section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
  .funding_bottom{
   visibility: hidden;
   display: none;

  }
  /*catergories*/
  .head_of_categories{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
 
  /*latest deals*/
  .latest_deals_head{
    display: grid;
        grid-template-columns: repeat(2, 1fr);
  }
  .side_instructions{
text-align: right;
  }
  .header_of_deals{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
  }
  .body_of_deals{
    padding: 10px;
  }
  /*footer*/
  .footer_icon{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
  }
  .icons_area{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  .icons_area a {
    color: rgb(139, 131, 131);
    text-decoration: none;
  }
}
@media screen and (min-width:768px) and (max-width: 1225px){
/*header*/.header__black {
    background-color: #000;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .header__small {
    display: none;
  }

  .left {
    float: left;
  }

  .right {
    position: absolute;
    float: right;
    right: 0;
  }

  .site__header-content a {
    color: antiquewhite;
    list-style: none;
    text-decoration: none;
    margin: 0 5px;
    font-size: small;
  }

  .site__nav-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .site__header-max-screen {
    display: block;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  }

  .site__nav-links a {
    font-size: small;
  }

  .site__nav-links {
    display: block;
    margin-left: 20px;
  }

  .header__md {
    background-color: white;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
  }

  .header__md-logo {
    position: absolute;
    height: 80px;
    width: 100px;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .margin-fix {
    margin-left: 120px;
  }

  .header__md-svg {
    height: 70px;
    width: 80px;
    position: relative;
    top: 10px;
  }

  .site__nav-right-bar {
    display: none;
  }

  .site__nav {
    display: none;
  }

.second_main_head{
  display: none;
  visibility: hidden;
}
/*latest news article*/
.latest_wrap{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
/*latest funding*/
.side_nav_bar_of_funding{
  display: flex;
  flex-direction: row;
}
.side_nav_bar_of_funding p{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/*catergories*/

/**/
/**/
/**/
/**/
/**/
}